/*
COLORS
- White #FFFFFF
- Jaune #F4C84E
- Gris #26221C
- Orange #c07600
- jaune pale #FEF8D7


FONTS
    navbar:
    - Otomanopee One

    title h1 :
    - Otomanopee One

    title h2 -> h6 :
    - Montserrat

    p :
    - Oswald


1- GLOBAL
2- NAVBAR
3- INDEX.PHP
4- ADD-TO-CART.PHP
5- SHOPPING-CART.PHP
6- DELIVERY.PHP
7- FOOTER

*/

/* GLOBAL 
*****************************************/

body {
    background-image: linear-gradient(#EEBA49ab, #ffffffc2),url(../images/fond.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    font-family: 'Otomanopee One', Arial, Helvetica, sans-serif;
    color: #26221C;  
}


h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

p span {
    font-size: 0.8em;
}

.mainContainer {
    margin: 50px;
}
.titlePageContainer {
    margin-top: 200px;
}


form input {
    margin-bottom: 10px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
form button {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    transition: 0.5s;
}
form button:hover {
    transform: rotate(20deg);
    transition: 0.5s;
}

form button i.details {
    padding: 10px;
    background-color: #F4C84E;
    border-radius: 50%;
    border: 1px solid #26221C;
}

.buttonLarge {
    background-color: #F4C84E;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #26221C;
    transition: 0.5s;
}
.buttonLarge:hover {
    background-color: #FFFFFF;
    padding: 5px 30px;
    transition: 0.5s;
}

.buttonLargeImpact {
    background-color: #26221C;
    color: #F4C84E;
    border: 1px solid #26221C;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
}
.buttonLargeImpact:hover {
    background-color: #FFFFFF;
    color: #26221C;
    padding: 10px 55px;
    transition: 0.5s;
}

.button {
    background-color: #F4C84E;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #26221C;
    transition: 0.5s;
}
.button:hover {
    background-color: #FFFFFF;
    transition: 0.5s;
}


.card {
    border: 1px solid #26221C!important;
}

.containerCart a {
    text-decoration: none;
}

.routContainer {
    margin-top: 20px;
}

.routContainer .activePage {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-top: 13px;
    padding-bottom: 5px;
}

.routContainer i {
    color:#26221c80;
}

.routContainer span {
    padding: 0 5px;
    font-weight: 600;
    color: #c07600;
}



/* NAVBAR
*****************************************/

nav {
    font-family: 'Otomanopee One', Arial, Helvetica, sans-serif;
    background-color: #26221C;
}

.navbar-brand img {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.navbar-brand span{
    font-size: 1.5em!important;
    position: relative;
    left: -23px;
    top: 6px;
}

.navbar-nav a {
    color: #FFFFFF!important;
}
.navbar-nav a:hover {
    color: #F4C84E!important;
}





/* INDEX.PHP
*****************************************/
.containerCart {
    position: fixed;
    top: 155px;
    z-index: 1;
}

.itemCart {
    background-color: #FFFFFF;
    color: #26221C;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    border: 1px solid #26221C;
}

.itemCart i {
    font-size: 1.2em;
    color: #26221cb6;
}




/* ADD-TO-CART.PHP
*****************************************/
.summaryCard {
    background-color: #FEF8D7!important;
}

.summary h5 {
    text-decoration: underline;
}

p.text-muted {
    font-size: 0.8em;
}

p.backToArticles a {
    text-decoration: none;
    color: #c07600;    
}




/* SHOPPING-CART.PHP
*****************************************/
.summary .card {
    background-color: #FEF8D7;
}

.summary .totalTTC {
    font-size: 1.5em!important;
}

.summary .beforeTotalTTC h1:after{
    display: block;
    height: 1px;
    background-color: #26221C;
    width: 50vw;
    content:" ";
    margin: 0 auto 20px auto;
    margin-top: 10px;
}

input.inputModal {
    font-family: 'Oswald', Arial, Helvetica, sans-serif!important;
    margin-bottom: 30px!important;
}


/* DELIVERY.PHP
*****************************************/
.modal-body {
    background-image: linear-gradient(#26221c9d, #26221c9d),url(../images/bee3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.modal-body h5 {
    color : #F4C84E;
}


/* FOOTER
*****************************************/
footer {
    background-color: #26221C;
}
footer h2 {
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contactsContainer h2 {
    color: #FFFFFF;
}
.contactsContainer h5 {
    color: #F4C84E;
    text-decoration: underline;
}
.contactsContainer p {
    color: #FFFFFF;
}

p.links a {
    text-decoration: none;
}
p.links i {
    font-size: 2em;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    color: #FFFFFF;
    transition: 0.5s;
}
p.links i:hover {
    color: #F4C84E;
    transform: scale(1.2);
    transition: 0.5s;
}

p.copyright {
    font-size: 0.7em;
    margin-bottom: 20px;
}



/* RESPONSIVE MOBILES PAD
***********************************/

@media screen and (max-width: 575px) {
    .titlePageContainer {
        margin-top: 280px;
    }

    .containerCart {
        position: fixed;
        top: 180px;
    }

    .itemCart {
        background-color: #FFFFFF;
        color: #26221C;
        padding: 0 15px 0 15px;
        border-radius: 5px;
        border: 1px solid #26221C;
    }
    .summary .beforeTotalTTC h1:after{
        width: 70vw;
    }
}